li {
    list-style: none;
}

.name-title{
    text-align: center;
    margin: 25px 25px 5px;
}

.info-title {
    text-align: center;
    margin: 25px 25px 5px;
}

.info-text {
    text-align: center;
}

.info-list > li {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.hobbies-list > li {
    margin-left: 20px;
}